@import "tailwindcss";

@theme {
  --color-cognizant-midnight: #000048;
  --color-cognizant-turquoise: #26EFE9;
}

@layer base {
  html.dark {
    color-scheme: dark;
  }

  html.dark body {
    background-color: #020617 !important; 
    color: white;
  }

  html.dark .bg-white {
    background-color: #000048 !important;
  }

  html.dark .text-cognizant-midnight {
    color: white !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9; 
  transition: all 0.3s ease-in-out;
}